<% title "System Status ~ Home" %>
<% content_for :header do -%>
	System Status
<% end -%>

<% unless @states.empty? %>
<ul id="states">
  <% for state in @states %>
    <li>
      <span class="title"><%=h state.title %></span>
	  <span class="status"><%=h state.status %></span>
	  <span class="content"><%=h state.content %></span>
      <span class="date"><%=h state.date %></span>
	  
	  <% if signed_in? %>
      <span class="loggedinlinks"><%= link_to "Show", state %> / <%= link_to "Edit", edit_state_path(state) %> / <%= link_to "Destroy", state, :confirm => 'Are you sure?', :method => :delete %></span>
      <% end %>
    </li>
  <% end %>
</ul>

<% else %>

<h1>Hurrah, everything is running perfectly.</h1>

<% end %>

<% if signed_in? %>
<p><%= link_to "New Status Update", new_state_path, :class => "newstatusupdate" %></p>
<% end %>